<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''EMPLOYEE'')')}">
                <li class="user-pro">
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <img th:if="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User)}" th:src="${#authentication.principal.picture}" alt="user-img" class="img-circle">
                        <img th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.User)}" th:src="@{/images/pp.png}" class="img-circle">
                        <span th:if="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User)}" class="hide-menu" th:text="${#authentication.principal.givenName + ' ' +  #authentication.principal.familyName}"></span>
                        <span th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.User)}" class="hide-menu" th:text="${#authentication.principal.username}"></span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a th:href="${home + 'employee/profile'}"><i class="ti-user"></i> My Profile</a></li>
                        <li><a th:href="${home + 'employee/gmail/emails'}"><i class="ti-email"></i> Inbox</a></li>
                        <li>
                            <a th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.User) and !#authorization.expression('hasRole(''ROLE_CUSTOMER'')')}"
                               th:href="${home + 'change-password'}" class="dropdown-item"><i class="fas fa-key"></i> change password</a>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit"><i class="fa fa-power-off"></i> Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Settings</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu">Settings</span>
                    </a>
                    <ul class="collapse">
                        <li><a th:href="${home + 'employee/settings/google-services'}">Google setting</a></li>
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Notification setting</a>
                            <ul class="collapse">
                                <li><a th:href="${home + 'employee/settings/email/contract'}">Contract settings</a></li>
                                <li><a th:href="${home + 'employee/settings/email/lead'}">Lead Settings</a></li>
                                <li><a th:href="${home + 'employee/settings/email/ticket'}">Ticket Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Google Services</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fab fa-google"></i>
                        <span class="hide-menu">Services</span>
                    </a>
                    <ul class="collapse">

                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Google calendar</a>
                            <ul class="collapse">
                                <li><a th:href="${home + 'employee/calendar/list-events'}">All events</a></li>
                                <li><a th:href="${home + 'employee/calendar/create-event'}">Create an event</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-users"></i>
                        <span class="hide-menu">Users</span>
                    </a>
                    <ul th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="collapse">
                        <li><a th:href="${home + 'manager/all-users'}">All user</a></li>
                        <li><a th:href="${home + 'manager/register-user'}">Create user</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Customers</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-users"></i>
                        <span class="hide-menu">Customers</span>
                    </a>
                    <ul class="collapse">
                        <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="${home + 'employee/customer/manager/all-customers'}">All customers</a></li>
                        <li><a th:href="${home + 'employee/customer/my-customers'}">My customers</a></li>
                        <li><a th:href="${home + 'employee/customer/create-customer'}">Create customer</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Tickets</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-ticket-alt"></i>
                        <span class="hide-menu">Tickets</span>
                    </a>
                    <ul class="collapse">
                        <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="${home + 'employee/ticket/manager/all-tickets'}">All tickets</a></li>
                        <li><a th:href="${home + 'employee/ticket/assigned-tickets'}">Assigned tickets</a></li>
                        <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="${home + 'employee/ticket/created-tickets'}">Created tickets</a></li>
                        <li><a th:href="${home + 'employee/ticket/create-ticket'}">Create ticket</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Leads</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-pencil-alt"></i>
                        <span class="hide-menu">Leads</span>
                    </a>
                    <ul class="collapse">
                        <!--                        <li><a href="/all-customers">All customers</a></li>-->
                        <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="${home + 'employee/lead/manager/all-leads'}">All Leads</a></li>
                        <li><a th:href="${home + 'employee/lead/assigned-leads'}">Assigned Leads</a></li>
                        <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="${home + 'employee/lead/created-leads'}">Created Leads</a></li>
                        <li><a th:href="${home + 'employee/lead/create'}">Create new Lead</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Contracts</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-file-contract"></i>
                        <span class="hide-menu">Contracts</span>
                    </a>
                    <ul class="collapse">
                        <!--                        <li><a href="/all-customers">All customers</a></li>-->
                        <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="${home + 'employee/contract/manager/show-all'}">All contracts</a></li>
                        <li><a th:href="${home + 'employee/contract/my-contracts'}">My contracts</a></li>
                        <li><a th:href="${home + 'employee/contract/create'}">Create new contract</a></li>
                    </ul>
            </ul>

            <ul id="sidebarnav-admin" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <li class="user-pro">
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <img th:src="@{/images/pp.png}" class="img-circle">
                        <span class="hide-menu" th:text="${#strings.substringBefore(#authentication.principal.username, '@')}"></span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a th:href="${home + 'customer/profile'}"><i class="ti-user"></i> My Profile</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit"><i class="fa fa-power-off"></i> Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu">Settings</span>
                    </a>
                    <ul class="collapse">
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Notification setting</a>
                            <ul class="collapse">
                                <li><a th:href="${home + 'customer/settings/email/contract'}">Contract settings</a></li>
                                <li><a th:href="${home + 'customer/settings/email/lead'}">Lead Settings</a></li>
                                <li><a th:href="${home + 'customer/settings/email/ticket'}">Ticket Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Tickets</li>
                <li>
                    <a class="waves-effect waves-dark" th:href="${home + 'customer/my-tickets'}">
                        <i class="fas fa-ticket-alt"></i>
                        <span clas      s="hide-menu">My Tickets</span>
                    </a>
                </li>

                <li class="nav-small-cap">--- Leads</li>
                <li>
                    <a class="waves-effect waves-dark" th:href="${home + 'customer/my-leads'}">
                        <i class="fas fa-pencil-alt"></i>
                        <span class="hide-menu">My Leads</span>
                    </a>
                </li>

                <li class="nav-small-cap">--- Contracts</li>
                <li>
                    <a class="waves-effect waves-dark" th:href="${home + 'customer/my-contracts'}">
                        <i class="fas fa-file-contract"></i>
                        <span class="hide-menu">My Contracts</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>